.sh_title_inner {
	background:#fc0;
	height: 100px;
}
.sh_block {
	background: #ece7d0;
}
.search_input {
	height: 40px;
	width: 100%;
	max-width: 1030px;
	margin: 20px auto 0;
	border-bottom: 1px solid #000;
	background: #ebebeb;
	line-height: 40px;
	font-size: 22px;
	color: #000;
	white-space: nowrap;
}
.search_input div {
	display: inline-block;
}
h2.mb_title, .rasp_h {
	top:-109px;
}
.sh_title_inner, .sh_block {
	background: none;
}
.hidden_item_block {
	display: none;
}
.sh_block.empty_search {
	position: relative;
	height: 150px;
	min-height: 100px;
}
.empty_search:after {
	content:'Ничего не найдено';
	display:block;
	position:absolute;
	top:0;
	right:0;
	left:0;
	height:150px;
	line-height:150px;
	font-size:22px;
	color: #003cff;
	text-align:center;
	font-weight: bold;
}